body{
    background: rgb(4, 100, 4);
    font: normal 15pt arial;
}
header{
    text-align: center;
    color: white;
}
section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 5px black;
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}
div{
    text-align: center;
    padding: 8px;
}
#im{
    width: 300px;
    height: 300px;
}